body{
    margin:0;
    padding:0;
}

header{
    background:url(../img/photo.jpg) top  no-repeat;
    background-size:cover;
    height:900px;
     
}

a{
    text-decoration: none;
}

h1,h2,li,ul,img,p{
    margin:0;
    padding:0;
}

.logo{
    margin-left:18%;
    padding-top:2%;
    width:180px;
}

.logo img{
  float:left;
}

.logo h1{
    padding-top:10px;
    color:white;
     
}

.menu{
    margin-top:2.6%;
    margin-right:24%;
}



nav li{
    display:inline;
    color:white;
    padding-left:20px;
    margin-top:20px;
}


.headus{
    display:flex;
    justify-content: space-between;
}

.center h2{
    font-size: 36px;
}

.center h1{
    font-size: 52px;
}

.center{
    text-align: center;
    margin:0 auto;
    width:30%;
    color:white;
    margin-top:310px;
    height:250px;
    min-width:350px;
}

.center p{
    width:80%;
    margin:0 auto;
    margin-top:2%;
    font-size: 16px;
}

.center button{
    color:white;
    width:170px;
    height:50px;
    border-radius:8px;
    box-shadow: inset 0 -3px 0 #736357;
    background-color: #998675;
    border:none;
    margin-top:50px;
}

.exd{
    display:flex;
    width:1200px;
    padding-top:90px;
    margin:0 auto;
}

.block{
    text-align:center;
    margin-left:30px;
}

.block p{
 width:266px;
 height:62px;
}

.bot{
    width:650px;
    margin:0 auto;
    margin-top:10%;
    
}

.bot h1{
   text-align:center;
}

.bot p{
    text-align:center;
    width:650px;
    margin-bottom:50px;
}


.image{
    margin:0 auto;
    width:1235px;
}
